.container{}

.infoContainer{
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.textContainer{
    flex: 1;
}

.blogTitle{
    font-size: 50px;
    margin-bottom: 50px;
}

.blogInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user{
    display: flex;
    align-items: center;
    gap: 20px;
}

.userImageContainer{
    width: 50px;
    height: 50px;
    position: relative;
}

.avatar{
    border-radius: 50%;
    object-fit: cover;
}

.userTextContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--softTextColor);
}

.username{
    font-size: 20px;
    font-weight: 500;
}

.imageContainer{
    flex: 1;
    height: 350px;
    position: relative;
}

.image{
    object-fit: cover;
}

.content{
    display: flex;
    gap: 50px;
}

.post{
    flex: 5;
    margin-top: 60px;
}

.description p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

@media screen and (max-width: 1536px) {
    .blogTitle{
        font-size: 54px;
    }
}

@media screen and (max-width: 1280px) {
    .blogTitle{
        font-size: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .imageContainer{
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .blogTitle{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .description p{
        font-size: 18px;
    }
    .username{
        font-size: 15px;
    }
    .date{
        font-size: 13px;
    }
    .post{
        margin-top: 40px;
    }
    .userImageContainer{
        width: 40px;
        height: 40px;
    }
    .blogInfo{
        font-size: 13px;
    }

}