.container{

}

.infoContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.textContainer{
    flex:2;
    display: flex;
    align-items: center;
}

.imageContainer{
    flex:2;
    height: 350px;
    position: relative;
}

.image{
    object-fit: cover;
}

.editor{
    /* display: flex; */
    gap: 20px;
    height: 700px;
    position: relative;
}

.mediaButton{
    display: flex;
    margin-bottom: 10px;
}

.button,
.addButton {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.addButton{
    border-color: #1a8917;
}

.add{
    display: flex;
    gap: 20px;
    background-color: var(--bg);
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 60px;
}

.input{
    padding: 50px;
    font-size: 56px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--textColor);
    width: 100%;
    height: flex;
}

.input::placeholder{
    color: #b3b3b1;
}

.textArea{
    width: 100%;
}

.publish{
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #1a8917;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

@media screen and (max-width: 640px) {
    .infoContainer{
        display: block;
        margin-bottom: 20px;
    }
    .input{
        font-size: 50px;
        padding: 15px;
    }
    .editor{
        display: block;
        position: relative;
    }
    .mediaButton{
        display: flex;
        left: 60px;
        margin-bottom: 10px;
    }
    .publish{
        position: fixed;
        bottom: 30px;
        right: 30px;
        top: auto;
    }
}